In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [3]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
tuple1[-1]

1.2

In [13]:
# Concatenate two tuples

tuple1 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
TUP1=("GOKUL",12,1.2)
TUP1

('GOKUL', 12, 1.2)

In [9]:
# Concatenate two tuples

TUP1 = TUP1 + ("hard rock", 10)
TUP1

('GOKUL', 12, 1.2, 'hard rock', 10)

In [10]:
help(TUP1)

Help on tuple object:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [11]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [11]:
NestedT =( 1, 2, ("pop", "rock") ,(3,4),("disco",(1,2) ) )
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [2]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [9]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][5])

IndexError: tuple index out of range

In [7]:
# Print the first element in the second nested tuples

NestedT[2][1][]

'c'

In [17]:
TUPP=("GOKUL KRISHNAN")
TUPP

'GOKUL KRISHNAN'

In [3]:
"GOKUL KRISHNAN".split()

['GOKUL', 'KRISHNAN']

In [4]:
TUPP

'GOKUL KRISHNAN'

In [18]:
TUPP =("GOKUL KRISHNAN".split())

In [19]:
TUPP

['GOKUL', 'KRISHNAN']

In [15]:
NestedT[2][0][1]

'o'

In [25]:
C_tuple=(-5, 1, -3)
C_LIST = sorted(C_tuple)
C_LIST

[-5, -3, 1]

In [23]:
S_LIST= [-5,-3,1]

In [24]:
S_LIST

[-5, -3, 1]

In [26]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [27]:
# List slicing

L[3:5]

['MJ', 1]

In [28]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])

['Michael Jackson', 10.2, 'pop', 10]

In [29]:
L

['Michael Jackson', 10.2, 'pop', 10]

In [30]:
L.append(["pop",10])
L

['Michael Jackson', 10.2, 'pop', 10, ['pop', 10]]

In [31]:
L=['Michael Jackson', 10.2, 'pop', 10]

In [32]:
L

['Michael Jackson', 10.2, 'pop', 10]

In [35]:
L[0]="GOKUL KRISHNAN"

In [36]:
L

['GOKUL KRISHNAN', 10.2, 'pop', 10]

In [37]:
del([0])

SyntaxError: can't delete literal (<ipython-input-37-65f397b6610e>, line 1)

In [44]:
del(L[2])

In [45]:
L

['GOKUL KRISHNAN', 10.2, 10]